<div class="p-4">
  <div id="map" style="height: 500px" (click)="selectMarker()"></div>
  <div class="mt-2 text-center">
    <div class="mt-2">
      <label>Latitude:</label>
      <input [(ngModel)]="latitude" />
    </div>
    <div class="mt-2">
      <label>Longitude:</label>
      <input [(ngModel)]="longitude" />
    </div>
    <div class="mt-2">
      <span class="text-dark">{{ latitude }} N, {{ longitude }} E</span>
    </div>
    <div class="mt-2">
      <button (click)="addMarker()">Add Marker</button>
    </div>
  </div>
</div>
